<h1>Neta Generated!!</h1>
<p>今日のネタはこれだ！</p>
<h2>
<%= @netum.name%></ br>
</h2>
<p>
<button type="button" class="btn btn-primary btn-lg" onclick="location.href='/static_pages/help'">Again !!</button>
</p>
<p>
<button type="button" class="btn btn-primary btn-lg" onclick="location.href='/static_pages/home'">back</button>
</p>
