<div class="jumbotron jumbotron-fluid">
  <div class="container">
<h1 class="display-4">Neta Generated!!</h1>
<p class="lead">今日のネタはこれだ！</p>
  <hr class="my-4">
<h1 class="display-4">
<%= @netum.name%></ br>
</h1>
  <hr class="my-4">
<p>
<button type="button" class="btn btn-primary btn-lg" onclick="location.href='/static_pages/help'">Again !!</button>
</p>
<p>
<button type="button" class="btn btn-primary btn-lg" onclick="location.href='/static_pages/home'">back</button>
</p>
	</div>
</div>

