<div class="jumbotron jumbotron-fluid">
<div class="container">
<h1 class = "display-4">Neta Generator</h1>
<p class = "lead">
現在登録されているネタは次のとおりです。
</p>
<hr class = "my-4">
<h4>前に来るネタ</h4>
<p>
<% @neta2.each do |neta2| %>
<%= neta2.name %><br />
<% end %>
</p>
<h4>後ろに来るネタ</h4>
<p>
<% @netum.each do |netum| %>
<%= netum.name %><br />
<% end %>
</p>
<button type="button" class="btn btn-primary btn-lg" onclick="location.href='/static_pages/help'">Neta Generate !!</button>

  </div>
</div>

