<h1>Hello</h1>
<p>
現在登録されているネタは次のとおりです。
</p>

<p>
<% @netum.each do |netum| %>
<%= netum.name %><br />
<% end %>
</p>
<button type="button" class="btn btn-primary btn-lg" onclick="location.href='/static_pages/help'">Neta Generate !!</button>
